.countdown {
  background: linear-gradient(#0b8992, #8ce7ee);
  color: white;
  font-size: 1.8rem;
  padding: 30px;
  border: 10px;
  width: auto;
  flex-wrap: wrap;
}

.countdown__icons {
  cursor: pointer;
  display: none;
  float: right;
  font-size: 1.8rem;
  margin-left: 60px;
  display: flex;
}

.text {
  float: right;
}

.checked {
  text-decoration: line-through;
  color: green;
}
